PuntoVentas/Punto de ventas/Connected Services/WSMonkys/WSBar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://WSBar/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="WSBar" targetNamespace="http://WSBar/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://desktop-sbe2f8s:8080/WSBarLogin/WSBar?xsd=1" namespace="http://WSBar/" />
    </xsd:schema>
  </types>
  <message name="update">
    <part name="parameters" element="tns:update" />
  </message>
  <message name="updateResponse">
    <part name="parameters" element="tns:updateResponse" />
  </message>
  <message name="delete">
    <part name="parameters" element="tns:delete" />
  </message>
  <message name="deleteResponse">
    <part name="parameters" element="tns:deleteResponse" />
  </message>
  <message name="insert">
    <part name="parameters" element="tns:insert" />
  </message>
  <message name="insertResponse">
    <part name="parameters" element="tns:insertResponse" />
  </message>
  <message name="select">
    <part name="parameters" element="tns:select" />
  </message>
  <message name="selectResponse">
    <part name="parameters" element="tns:selectResponse" />
  </message>
  <portType name="WSBar">
    <operation name="update">
      <input wsam:Action="http://WSBar/WSBar/updateRequest" message="tns:update" />
      <output wsam:Action="http://WSBar/WSBar/updateResponse" message="tns:updateResponse" />
    </operation>
    <operation name="delete">
      <input wsam:Action="http://WSBar/WSBar/deleteRequest" message="tns:delete" />
      <output wsam:Action="http://WSBar/WSBar/deleteResponse" message="tns:deleteResponse" />
    </operation>
    <operation name="insert">
      <input wsam:Action="http://WSBar/WSBar/insertRequest" message="tns:insert" />
      <output wsam:Action="http://WSBar/WSBar/insertResponse" message="tns:insertResponse" />
    </operation>
    <operation name="select">
      <input wsam:Action="http://WSBar/WSBar/selectRequest" message="tns:select" />
      <output wsam:Action="http://WSBar/WSBar/selectResponse" message="tns:selectResponse" />
    </operation>
  </portType>
  <binding name="WSBarPortBinding" type="tns:WSBar">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="update">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insert">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="select">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSBar">
    <port name="WSBarPort" binding="tns:WSBarPortBinding">
      <soap:address location="http://desktop-sbe2f8s:8080/WSBarLogin/WSBar" />
    </port>
  </service>
</definitions>